/* =============== PARTNERS =============== */
.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 880px;
    height: 165px;
    margin-inline: auto;
    margin-block: 1.5rem;
}

.partner__title {
    color: var(--title-color);
    font-size: 32px;
    font-weight: var(--weight-600);
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}

.partner__logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    width: 605px;
    height: 101px;
}

/* =============== RESPONSIVE =============== */
@media screen and (max-width: 992px) {
    .partners {
        width: 100%;
        height: auto;
        padding-inline: 24px;
        gap: 24px;
    }

    .partner__logos {
        width: 100%;
        max-width: 605px;
        height: auto;
        flex-wrap: wrap;
        gap: 32px;
    }
}